body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url("../imagenes/mooooo.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.form-container {
    background-color: #2c3e50;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.form-header {
    margin-bottom: 15px;
}

.form-header img {
    width: 60px;
    height: auto;
    display: block;
    margin: 0 auto 15px;
}

.form-header .button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.form-header button {
    background-color: #2D71B6FF;
    padding: 8px;
    border: none;
    color: #ecf0f1;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.form-header button.active {
    background-color: #B12B2BFF;
}

.form-header button:hover {
    background-color: #AD4242FF;
}

.form-content {
    display: none;
}

.form-content.active {
    display: block;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.form-grid-full {
    grid-column: span 2;
}

.form-container h2 {
    color: #ecf0f1;
    margin-bottom: 15px;
}

.form-container label {
    display: block;
    text-align: left;
    color: #7C8486FF;
    margin-bottom: 5px;
    font-size: 14px;
}

/* Estilo para los campos de texto, contraseña, correo, etc. */
.form-container input[type="text"],
.form-container input[type="tel"],
.form-container input[type="email"],
.form-container input[type="password"] {
    width: 95%;
    padding: 8px;
    margin: 8px 0;
    background-color: #B12B2BFF; /* Fondo rojo */
    border: 2px solid black; /* Borde negro */
    color: white; /* Texto en blanco */
    font-size: 14px;
    border-radius: 5px;
}

.form-container input:focus {
    background-color: #AC6F6FFF;
    border-color: #FF0808FF;
    outline: none;
}

/* Estilo para el botón de envío */
.form-container button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #B12B2BFF;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

.form-container button:hover {
    background-color: #C74D4DFF;
}

 /* Estilo específico para el menú desplegable (select) */
 .form-container select {
    background-color: #B12B2BFF; /* Fondo rojo */
    color: white; /* Texto en blanco */
    border: 2px solid black; /* Borde negro */
    border-radius: 5px;
    Width: 95%;
   padding: 8px;
   margin: 8px 0;
   background-color: #B12B2BFF;
   border: 2px solid black;
  color: white;
  font-size: 14px;
  border-radius: 5px;
}

.form-container select option {
    background-color: #B12B2BFF; /* Fondo rojo de las opciones */
    color: white; /* Texto en blanco */
}

.form-container button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #B12B2BFF;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}
.form-container button:hover {
    background-color: #C74D4DFF;
}

