html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000000;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d41f1f;
  padding: 10px 20px;
}

.header img {
  height: 50px;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.header-buttons.btn-white,
.header-buttons.btn-black {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.btn-white {
  background-color: white;
  color: black;
  padding: 15px 20px;
  border-radius: 10px;
}

.btn-black {
  background-color: rgb(5, 0, 0);
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  background-color: #000000;
}

.content {
  display: flex;
  gap: 20px;
  max-width: 800px;
  width: 100%;
  justify-content: space-between;
}

.text {
  max-width: 400px;
  color: white;
}

.text h1 {
  font-size: 2em;
}

.text p {
  font-size: 1.2em;
}

.image img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fefefe;
  color: rgb(0, 0, 0);
}

.contacts {
  display: flex;
  flex-direction: column;
}

.contacts p {
  margin: 5px 0;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 5px 0;
}

.footer-links a:hover {
  text-decoration: underline;
}

.social-media {
  display: flex;
  gap: 10px;
}

.social-media a {
  margin: 0 50px;
}

.social-media img {
  width: 30px;
  height: 30px;
}

.login-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #d92c1e;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}



.login-link {
  margin-top: 20px;
}

.login-link a {
  color: #d92c1e;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

.btn-home {
  display: block;
  margin-top: 20px;
  color: white;
  background-color: #d92c1e;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.btn-home:hover {
  background-color: #b22b19;
}

.register-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.register-container h2 {
  margin-bottom: 20px;
  color: #d92c1e;
}

.register-form-group {
  margin-bottom: 15px;
  text-align: left;
}

.register-form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.register-form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.register-btn {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.register-btn-home {
  background-color: #d92c1e;
}

.register-login-link {
  margin-top: 20px;
}

.register-login-link a {
  color: #d92c1e;
  text-decoration: none;
}

.register-login-link a:hover {
  text-decoration: underline;
}